// 
// Mobile About Page Style
// 

#aboutMobile {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 8vh;
    border-right: 8vh;
    border-left: 8vh;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;

    h2 {
        font-size: 34px;
        font-weight: 400;
        text-transform: uppercase;
    }

    #storyMobile {
        margin: 0 5vh;
        font-size: 14px;
        line-height: 24px;
    }
}