// 
// Mobile Navigation Style
// 

#navbarMobile {
    z-index: 24;
    display: flex;
    flex-direction: row;
    position: fixed;
    align-items: center;
    width: 100%;
    // height: 97.5px;
    height: 12vh;
    background-color: #fff;
    transition: transform 300ms ease;
    // background-color: rgba(255, 2, 0, 0.4);

    #navbarLogoMobile {
        display: flex;
        position: absolute;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
        // background-color: rgba(255, 0, 0, 0.4);

        img {
            width: 60px;
        }
    }

    #navButtonContainer {
        z-index: 1001;
        display: flex;
        position: fixed;
        width: 25%;
        // height: 97.5px;
        height: 12vh;
        align-items: center;
        justify-content: center;
        // background-color: rgba(0, 0, 0, 0.4);
        transform: scale(0.4);
    
        #navButton {
            z-index: inherit;
            display: flex;
            flex-direction: column;
            width: 70px;
            cursor: pointer;
    
            span {
                z-index: inherit;
                background: #000;
                border-radius: 10px;
                height: 4px;
                margin: 7px 0;
                transition: 400ms cubic-bezier(0.68, -0.60, 0.32, 1.60);
    
                &:nth-of-type(1) {
                    width: 50%;
                }
                &:nth-of-type(2) {
                    width: 100%;
                }
                &:nth-of-type(3) {
                    width: 75%;
                }
    
                &.show {
                    background: #fff;
        
                    &:nth-of-type(1) {
                        transform-origin: bottom;
                        transform: rotateZ(45deg) translate(8px, 0px);
                    }
                    &:nth-of-type(2) {
                        transform-origin: top;
                        transform: rotateZ(-45deg);
                    }
                    &:nth-of-type(3) {
                        transform-origin: bottom;
                        width: 50%;
                        transform: translate(30px, -6px) rotateZ(45deg);
                    }
                }
            }
        }
    }
    
    #flyoutMenu {
        z-index: 1000;
        width: 100vw;
        height: 100vh;
        top: 100px;
        left: 40px;
        background-color: transparent;
        position: fixed;
        transition: transform 300ms ease;
        overflow: scroll;
    
        &.hide {
            transform: translateX(-100vw);
        }
        &.show {
            transform: translateX(0vw);
            overflow: hidden;
    
        }
    
        h2 a {
            font-family: "JosefinSans";
            font-weight: 400;
            text-transform: uppercase;
            padding: 10px 0;
            color: white;
            margin-left: 15px;
            text-decoration: none;
        }
        h2 a:hover {
            color: rgba(0 ,0, 0, 0.4);
        }
    }
    
    #flyoutBackground {
        z-index: 1000;
        top: -142vmax;
        left: -142vmax;
        // top: 0;
        // left: 0;
        width: 284vmax;
        height: 284vmax;
        background-color: black;
        border-radius: 50%;
        position: fixed;
        transition: transform 300ms ease;
    
        &.hide {
            transform: scale(0);
            transform-origin: 50% 50%;
        }
        &.show {
            transform: scale(1);
            border-radius: 50%;;
        }
    }
}