@font-face {font-family: "Exo2"; font-weight: "bold"; src: url("./fonts/Exo2-ExtraBold.ttf")};
@font-face {font-family: "JosefinSans"; font-weight: 300; src: url("./fonts/JosefinSans-Light.ttf")};
@font-face {font-family: "JosefinSans"; font-weight: 300; font-style: italic; src: url("./fonts/JosefinSans-LightItalic.ttf")};
@font-face {font-family: "JosefinSans"; font-weight: 400; src: url("./fonts/JosefinSans-Regular.ttf")};
@font-face {font-family: "JosefinSans"; font-weight: 500; src: url("./fonts/JosefinSans-Medium.ttf")};
@font-face {font-family: "JosefinSans"; font-weight: 500; font-style: italic; src: url("./fonts/JosefinSans-MediumItalic.ttf")};
@font-face {font-family: "JosefinSans"; font-weight: 700; src: url("./fonts/JosefinSans-Bold.ttf")};

body {
    font-family: "JosefinSans";
}

a {
    text-decoration: none;
    color: inherit;
}

.App {
    display: flex;
    position: relative;
    flex-direction: column;
}

.fade-in {
    animation: fade 0.8s ease-in forwards;
    opacity: 0;
}
@keyframes fade {
    50% {
        opacity: 0.01;
    }
    100% {
        opacity: 1;
    }
}

// CUSTOM CURSOR

// * {
//     cursor: none;
// }

.cursor {
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    transition: 
      width 300ms ease,
      height 300ms ease,
      opacity 400ms ease;
  }
  .cursors .cursor:nth-child(1) {
    background-color: black;
    z-index: 2401;
    transform: translate(-50%, -50%);
  }
  .cursors .cursor:nth-child(2) {
    height: 24px;
    width: 24px;
    border: 2px solid black;
    border-radius: 50%;
    z-index: 2400;
    transform: translate(-50%, -50%);
  }
  .cursor:nth-child(2).enlarged {
    height: 50px;
    width: 50px;
  }
  .cursor:nth-child(1).clicked {
    height: 25px;
    width: 25px;
  }